<!DOCTYPE HTML>
<html lang="en-US"">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <script type="text/javascript" src="../js/zepto.js"></script>
    <title></title>
</head>
<body>
         <section class="topic">
                <ul class="topic_list">
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                    <li>
                        <div class="topic_img_box">
                            <img src="../images/topic_img.jpg" />
                            <p>2012-2013年公司领导讲话</p>
                        </div>
                        <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                    </li>
                </ul>
         </section>
</body>
</html>