<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <script type="text/javascript" src="../js/zepto.js"></script>
    <script type="text/javascript" src="../js/iscroll.js"></script>
    <script>
        $(function(){
            $('.nav_btn_hr').click(function(){
                $('.nav_btn_hr_dropmenu').toggleClass('dropmenu_animation');
            });

            var iSliderNavLen=$('.sidernav_slide a').length;
            var iInnitLen=4;
            var iClickNum=0;
            $('.sidernav_slide').css('width',iSliderNavLen*parseInt($('.sidernav_slide li').eq(0).css('width')));

            $('.nav_btn_next').bind('click',function(){
                if( iClickNum <iSliderNavLen-iInnitLen)
                {
                    iClickNum++;
                    var xPos=-parseInt($('.sidernav_slide a').eq(iClickNum).position().left)+'px,0,0';
                    $('.sidernav_slide').css({'-webkit-transform':"translate3d("+xPos+")",'-webkit-transition':'400ms ease'} );
                }
            });
            $('.nav_btn_prev').bind('click',function(){
                if(iClickNum>0)
                {
                    iClickNum--;
                    var xPos=-parseInt($('.sidernav_slide a').eq(iClickNum).position().left)+'px,0,0';
                     $('.sidernav_slide').css({'-webkit-transform':"translate3d("+xPos+")",'-webkit-transition':'400ms ease'} );
                }
            });


            $('.sidernav_slide a').click(function(){

                $('.sidernav_slide a').removeClass('on');
                $(this).addClass('on');

            });

            $('.btn_group a').click(function(){
                $('.btn_group a').removeClass('btn_active');
                $(this).addClass('btn_active');
            });

            $('.nav_btn_hr_dropmenu a').click(function(){
                $('.nav_btn_hr i').html($(this).html());
            });
            /*筛选功能*/

            /*配置滑动区域*/
            var iTopicBoxLen=$('.subject_box').length; /*滑动导航的长度*/
            var sTopicSub=iTopicBoxLen*100+'%';
            $('#subject').css('width',sTopicSub);
            var iOneTopicBoxWidth=100/iTopicBoxLen;
            $('.subject_box').css('width',iOneTopicBoxWidth+'%');

            /*实现点击导航滑动*/
            var iSwipeTopicBoxIndex=0;
            $('.sidernav_slide li').click(function(){
                iSwipeTopicBoxIndex=$(this).index();
                var x=-iSwipeTopicBoxIndex*iOneTopicBoxWidth+'%,0,0';
                $('#subject').css({'-webkit-transform':"translate3d("+x+")",'-webkit-transition':'500ms ease'} );
            });

            /*左滑*/
            $('#subject').swipeLeft(function(){
                if(iSwipeTopicBoxIndex<iTopicBoxLen-1)
                {
                    iSwipeTopicBoxIndex++;
                    iClickNum=iSwipeTopicBoxIndex;
                    if(iSliderNavLen-iSwipeTopicBoxIndex<=iInnitLen)
                    {
                        iClickNum=iSliderNavLen-iInnitLen;
                    }
                    var xPos=-parseInt($('.sidernav_slide a').eq(iClickNum).position().left)+'px,0,0';
                    $('.sidernav_slide').css({'-webkit-transform':"translate3d("+xPos+")",'-webkit-transition':'400ms ease'} );
                    var x=-iSwipeTopicBoxIndex*iOneTopicBoxWidth+'%,0,0';
                    $('#subject').css({'-webkit-transform':"translate3d("+x+")",'-webkit-transition':'500ms ease'} );
                }
                else{
                    iClickNum=0;
                    iSwipeTopicBoxIndex=0;
                    var xPos=-parseInt($('.sidernav_slide a').eq(iClickNum).position().left)+'px,0,0';
                    $('.sidernav_slide').css({'-webkit-transform':"translate3d("+xPos+")",'-webkit-transition':'400ms ease'} );
                    var x=-iSwipeTopicBoxIndex*iOneTopicBoxWidth+'%,0,0';
                    $('#subject').css({'-webkit-transform':"translate3d("+x+")",'-webkit-transition':'0ms ease'} );
                }

                $('.sidernav_slide a').removeClass('on');
                $('.sidernav_slide a').eq(iSwipeTopicBoxIndex).addClass('on');
            });

            /*右滑*/
            $('#subject').swipeRight(function(){
                if(iSwipeTopicBoxIndex>0)
                {
                    iSwipeTopicBoxIndex--;
                    iClickNum=iSwipeTopicBoxIndex;
                    if(iClickNum>iSliderNavLen-iInnitLen)
                    {
                        iClickNum=iSliderNavLen-iInnitLen;
                    }
                    var xPos=-parseInt($('.sidernav_slide a').eq(iClickNum).position().left)+'px,0,0';
                    $('.sidernav_slide').css({'-webkit-transform':"translate3d("+xPos+")",'-webkit-transition':'400ms ease'} );
                    var x=-iSwipeTopicBoxIndex*iOneTopicBoxWidth+'%,0,0';
                    $('#subject').css({'-webkit-transform':"translate3d("+x+")",'-webkit-transition':'800ms ease'} );
                }
                else{
                    iSwipeTopicBoxIndex=iTopicBoxLen-1;
                    iClickNum=iSliderNavLen-iInnitLen;
                    var xPos=-parseInt($('.sidernav_slide a').eq(iClickNum).position().left)+'px,0,0';
                    $('.sidernav_slide').css({'-webkit-transform':"translate3d("+xPos+")",'-webkit-transition':'400ms ease'} );
                    var x=-iSwipeTopicBoxIndex*iOneTopicBoxWidth+'%,0,0';
                    $('#subject').css({'-webkit-transform':"translate3d("+x+")",'-webkit-transition':'0ms ease'} );
                }

                $('.sidernav_slide a').removeClass('on');
                $('.sidernav_slide a').eq(iSwipeTopicBoxIndex).addClass('on');
            });

        });
    </script>
    <script src="../js/pull_refresh.js"></script>
    <title></title>
</head>
<body>

            <nav class="sidernav">
                <div class="btn_group">
                    <a class="btn_new btn_active"></a>
                    <a class="btn_hot"></a>
                    <a class="btn_best"></a>
                </div>
                <div class="nav_wrap">
                    <a class="nav_btn_prev">prev</a>
                    <div class="sidernav_box">
                        <ul class="sidernav_slide" id="subnav_slide">
                            <li><a class="on">全部</a></li>
                            <li><a>专业领域</a></li>
                            <li><a>产品领域</a></li>
                            <li><a>流程变革</a></li>
                            <li><a>公司知识</a></li>
                            <li><a>通用技能</a></li>
                            <li><a>管理与领导力</a></li>
                            <li><a>其它</a></li>
                        </ul>
                    </div>
                    <a class="nav_btn_next">next</a>
                </div>
                <div class="nav_btn_hr"><i>筛选</i>
                    <span></span>
                    <section class="nav_btn_hr_dropmenu">
                        <a>全部</a>
                        <a>财经</a>
                        <a>人力资源</a>
                        <a>营销</a>
                        <a>项目管理</a>
                        <a>采购</a>
                        <a>技术</a>
                        <a>公共关系</a>
                        <a>法务</a>
                        <a>供应链</a>
                        <a>行政&服务商务</a>
                        <a>流程质量运营</a>
                    </section>
                </div>

            </nav>

            <section class="subject clearfix" id="subject">
                <div class="subject_box clearfix" id="scroller_one">
                    <div id="scroller">
                        <div id="pullDown">
                            <!--<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>-->
                        </div>
                    <ul class="topic_list" id="thelist_one">
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                        <li>
                            <div class="topic_img_box">
                                <img src="../images/topic_img.jpg" />
                                <p>2012-2013年公司领导讲话</p>
                            </div>
                            <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                        </li>
                    </ul>
                        <div id="pullUp">
                            <!--<span class="pullUpIcon"></span><span class="pullUpLabel">上拉刷新...</span>-->
                        </div>
                    </div>
                </div>
                <div class="subject_box clearfix" id="scroller_two">
                    <div id="scroller">
                        <div id="pullDown">
                            <!--<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>-->
                        </div>
                        <ul class="topic_list" id="thelist_one">
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                        </ul>
                        <div id="pullUp">
                            <!--<span class="pullUpIcon"></span><span class="pullUpLabel">上拉刷新...</span>-->
                        </div>
                    </div>
                </div>
                <div class="subject_box clearfix" id="scroller_three">
                    <div id="scroller">
                        <div id="pullDown">
                            <!--<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>-->
                        </div>
                        <ul class="topic_list" id="thelist_one">
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                        </ul>
                        <div id="pullUp">
                            <!--<span class="pullUpIcon"></span><span class="pullUpLabel">上拉刷新...</span>-->
                        </div>
                    </div>
                </div>
                <div class="subject_box clearfix" id="scroller_four">
                    <div id="scroller">
                        <div id="pullDown">
                            <!--<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>-->
                        </div>
                        <ul class="topic_list" id="thelist_one">
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                        </ul>
                        <div id="pullUp">
                            <!--<span class="pullUpIcon"></span><span class="pullUpLabel">上拉刷新...</span>-->
                        </div>
                    </div>
                </div>
                <div class="subject_box clearfix" id="scroller_five">
                    <div id="scroller">
                        <div id="pullDown">
                            <!--<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>-->
                        </div>
                        <ul class="topic_list" id="thelist_one">
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                        </ul>
                        <div id="pullUp">
                            <!--<span class="pullUpIcon"></span><span class="pullUpLabel">上拉刷新...</span>-->
                        </div>
                    </div>
                </div>
                <div class="subject_box clearfix" id="scroller_six">
                    <div id="scroller">
                        <div id="pullDown">
                            <!--<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>-->
                        </div>
                        <ul class="topic_list" id="thelist_one">
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                        </ul>
                        <div id="pullUp">
                            <!--<span class="pullUpIcon"></span><span class="pullUpLabel">上拉刷新...</span>-->
                        </div>
                    </div>
                </div>
                <div class="subject_box clearfix" id="scroller_seven">
                    <div id="scroller">
                        <div id="pullDown">
                            <!--<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>-->
                        </div>
                        <ul class="topic_list" id="thelist_one">
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                        </ul>
                        <div id="pullUp">
                            <!--<span class="pullUpIcon"></span><span class="pullUpLabel">上拉刷新...</span>-->
                        </div>
                    </div>
                </div>
                <div class="subject_box clearfix" id="scroller_eight">
                    <div id="scroller">
                        <div id="pullDown">
                            <!--<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>-->
                        </div>
                        <ul class="topic_list" id="thelist_one">
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                            <li>
                                <div class="topic_img_box">
                                    <img src="../images/topic_img.jpg" />
                                    <p>2012-2013年公司领导讲话</p>
                                </div>
                                <p class="topic_info">12课<span class="icon_article_down">123</span><span class="icon_view">12313</span></p>
                            </li>
                        </ul>
                        <div id="pullUp">
                            <!--<span class="pullUpIcon"></span><span class="pullUpLabel">上拉刷新...</span>-->
                        </div>
                    </div>
                </div>

            </section>






</body>
</html>